<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ctags</key>
	<array>
		<string>libctags.dylib</string>
		<string>ctags_main</string>
		<string>aBeFGnNoRvVx:b:d:D:f:h:I:L:</string>
		<string>file</string>
	</array>
	<key>readtags</key>
	<array>
		<string>libctags.dylib</string>
		<string>readtags_main</string>
		<string>aBeFGnNoRvVx:b:d:D:f:h:I:L:</string>
		<string>file</string>
	</array>
	<key>chgrp</key>
	<array>
		<string>files.framework/files</string>
		<string>chown_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>chmod</key>
	<array>
		<string>files.framework/files</string>
		<string>chmod_main</string>
		<string>ACEHILNPRVXafghinorstuvwx</string>
		<string>file</string>
	</array>
	<key>chown</key>
	<array>
		<string>files.framework/files</string>
		<string>chown_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>df</key>
	<array>
		<string>files.framework/files</string>
		<string>df_main</string>
		<string>abgHhiklmnPtT:</string>
		<string>file</string>
	</array>
	<key>id</key>
	<array>
		<string>shell.framework/shell</string>
		<string>id_main</string>
		<string>AFPGMagnpru</string>
		<string>no</string>
	</array>
	<key>w</key>
	<array>
		<string>shell.framework/shell</string>
		<string>w_main</string>
		<string>dhiflM:N:nsuw</string>
		<string>no</string>
	</array>
</dict>
</plist>
