<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>llvm-dis</key>
	<array>
		<string>dis.framework/dis</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>opt</key>
	<array>
		<string>opt.framework/opt</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>llvm-link</key>
	<array>
		<string>link.framework/link</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>lli</key>
	<array>
		<string>lli.framework/lli</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>llc</key>
	<array>
		<string>llc.framework/llc</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>lld</key>
	<array>
		<string>lld.framework/lld</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>ld</key>
	<array>
		<string>lld.framework/lld</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>ar</key>
	<array>
		<string>ar.framework/ar</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>ranlib</key>
	<array>
		<string>ar.framework/ar</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>wasm-ld</key>
	<array>
		<string>lld.framework/lld</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>lld-link</key>
	<array>
		<string>lld.framework/lld</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>ld.lld</key>
	<array>
		<string>lld.framework/lld</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>ld64.lld</key>
	<array>
		<string>lld.framework/lld</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>clang</key>
	<array>
		<string>clang.framework/clang</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>clang++</key>
	<array>
		<string>clang.framework/clang</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
</dict>
</plist>
