<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amstex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>bibtex</key>
	<array>
		<string>bibtex.framework/bibtex</string>
		<string>bibtex_main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>cslatex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>csplain</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>eplain</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>etex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>jadetex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>latex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>makeindex</key>
	<array>
		<string>makeindex.framework/makeindex</string>
		<string>main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>mex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>mllatex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>mltex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfcslatex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfcsplain</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfetex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfjadetex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdflatex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfmex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdftex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfxmltex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>tex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>texsis</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>utf8mex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>xmltex</key>
	<array>
		<string>pdftex.framework/pdftex</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>texlua</key>
	<array>
		<string>luatex.framework/luatex</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>texluac</key>
	<array>
		<string>luatex.framework/luatex</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
</dict>
</plist>
